@{
    ViewData["Title"] = "Home Page";
}

@model ItemListViewModel

    <div class="text-center">
        <h1 class="display-4 text-white">Welcome to Garner Library</h1>
        <p class="text-white">Here are the books we have in our library:</p>
        <div class="container">
            @foreach (var item in Model.Books)
            {
                <div class="row">
                    <div class="col-4 mx-auto">
                        <div class="card">
                            <div class="card-body bg-secondary">
                                <h2 class="card-title">@item.Title</h2>
                                <p class="card-text"><strong>Author:</strong> @item.Author</p>
                                <p class="card-text"><strong>Publisher:</strong> @item.Publisher</p>
                                <p class="card-text"><strong>ISBN:</strong> @item.ISBN</p>
                                <p class="card-text"><strong>Classification/Category:</strong> @item.Classification @item.Category</p>
                                <p class="card-text"><strong>Page Count:</strong> @item.PageCount</p>
                                <p class="card-text"><strong>Price:</strong> $@item.Price</p>
                            </div>
                        </div>
                    </div>
                </div>
                <br />
            }
        </div>
        <p class="text-white">Pages</p>
        <div page-model="@Model.PaginationInfo" page-action="Index"></div>
    </div>
    
